# Build output
/build/
/export/
/Debug/
/Release/

# Object files and dependency files
*.o
*.d

# Log and temp files
*.log
*.jou
*.str
*.tmp
*.swp
*.swo

# Lock files
*.lock

# Binary output files
*.elf
*.bin
*.bit
*.pdi
*.mcs
*.coe
*.bif

# Vitis / SDK metadata
.vitisWorkspace.json
/.metadata/
/.settings/
/.project
/.cproject
*.sdk
*.Xil/

# IDE cache
.ide/logs
.ide/wsdata
.cache/
.clangd/
